*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.float-left{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.image img{
  width: 100%;
}


/* header */
header{
  text-align: center;
  padding: 30px 0;
  
}

h1{
  color: #e34e84 ;
  margin-bottom: 20px;
}

/* main */
main{
  color: white;
}

.box{
  width: 300px;
  background-color: black;
  margin: 10px;
}

/* contenent box */
.image{
  width: 30%;
}

.text{
  width: 60%;
  font-size: .9rem;
  padding: 5px 10px;
}

.text span{
  display: block;
  margin-top: 10px;
}

/* style email */
.email{
  color: #21a0d9;
}
